:root{
    --mainColor:#15202B;
    --secondaryColor: #192734;

    --borderColor: #164D56;

    --mainText: #fff;
    --secondaryText: #EEEE;

    --themeDotBorder:#fff;

    --previewbg:rgb(25, 39, 52, 0.8);
    --previewShadow: Whitesmoke;

    --buttonColor: #17A2B8;
}